aws_region = "ap-northeast-2"
name_prefix = "ktcloud2nd"

network_state_bucket = "palja-terraform-backend"
network_state_key = "aws/network/terraform.tfstate"
network_state_region = "ap-northeast-2"

slack_webhook_url = "https://hooks.slack.com/services/REPLACE/ME"
alert_webhook_token = "REPLACE_ME"

lambda_timeout_seconds = 60
lambda_memory_size = 256
log_retention_in_days = 14

tags = {
  Environment = "dev"
  Owner       = "infra3"
  Service     = "alerts"
}
